<div id="footer">
	{$copyright}<br />
    Copyright © 2011 - <?=date('Y')?> <a href="{$weburl}">{$webname}</a> <?=$_SERVER['HTTP_HOST']?> All Rights Reserved {$icp} {$tongji} <a href="{$baidusitemap}" target="_blank">baidu网站地图</a> <a href="{$googlesitemap}" target="_blank">google网站地图</a><br />
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F27539860c637c3f8958f44ab54cc45b2' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23785848-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(
        ['_addOrganic', "sogou", "query"],
        ['_addOrganic', "baidu", "word"],
        ['_addOrganic', "soso", "w"]
    );     
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	})();
</script>